/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*********************GENERALE************************************
***********************************************************************/
body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  height: 100vh;
  font-family: 'Overlock SC', cursive !important;
}
/********************Header***********************/
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.jumbotron {
  background-color: rgb(255, 131, 170) !important;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  margin: auto;
  font-family: 'Londrina Sketch', cursive !important;
  color: white !important;
}

.navbar {
  background-color: white !important;

}

.nav-item {
  margin-right: 30px;
 }

/*******************************Cartes Actualité**********************************/


.btn {
  background-color: rgb(255, 131, 170) !important;
  border: none !important;
}

.post {
  font-size: 12px;
  color: grey;
}



/**************************page article********************************************/
#article {
  margin-top: 50%;
  display:block;
  text-align: center;
  background-color: white;
  padding-bottom: 200px;
}

#article a {
  color: grey;
}

#article p {
  margin-top: 60px;
}

#comments {
  background-color: white;
  text-align: center;
  width: 100%;
}

#comments h3 {
  text-decoration: underline;
}


/*************************formulaire pour les commentaires**************************/
#commentaires {

  margin-top: 50px !important;
  background-color: rgb(156, 237, 223);
  padding: 20px;
}

/************************Page agenda *************************************************/

.evenement {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}



h3 {
  width: 100%;
  margin: auto;
  text-align: center;
}

.agenda {
  width: 100%;
  margin: auto;
  text-align: center;
}

/**************************Table interative***********************************/



/***************************Page A propos********************************/

#nous {
  margin-top: 20px;

}

#adress {
  width: 100%;
  text-align: center;
  background-color: rgb(247, 139, 135);
  padding: 50px;
  color: white;

}

#nous h3{
  text-decoration: underline;
  margin-bottom: 25px;
}

#equipe {
  background-color: rgb(157, 238, 228);
  text-align: center;
  padding: 50px;

}
 #equipe div {
   margin-top: 25px;
 }

/**************************Footer**********************************/

#top {
  display: inline-block;
}

#top a {
  color: black;
  text-decoration: none;

}

#bottom {
  display: inline-block;
}
 footer {
   text-align: center;
   background-color: rgb(255, 131, 170);
 }











/**********************MOBILE**********************************
*********************************************************************/

/**************************Header****************************************/
.navbar {
  height: 55px;
  margin-top: 0 !important;
}

/********************Page Actualité*********************************/
section {
  margin-top: 80%;
}
#jobs {
   display: none;
 }

aside h3 {
  display: none;
}

/****************Page Article*************************************/
#article img {
  width: 360px;
}

/**********************Page Agenda*******************************/
.evenement img {
  width: 360px;
}

.agenda {
  width: 360px !important;
}

/*******************Page A propos*********************************/

#social img {
  width: 50px;
  height: 50px;

}

#social {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

#social div {
  margin: auto;
  padding: 20px;
  text-align: center;
}

#equipe img {
  width: 100px;
  height: 100px;
}


/******************Footer**********************************/
footer {
  margin-top: 50px !important;
}







/* ==========================================================================
   Media Queries
   ========================================================================== */
/****************************************************************************
******************************TABLETTE*************************************/
@media (min-width: 768px) {

#onglet {
  display: none !important;
}

/*******************************Header********************************************/
h1 {
  font-size: 150px !important;
}


/************************Page actualité************************************/

 section {
   margin-top: 60%;
 }

#jobs {
   display: none;
 }

aside h3 {
   display: none;
 }

 /*************************page Article*************************************/
  #article img {
    width: 50%;
  }


/*********************page A propos***********************************/
#social {
  display: inline-block;
  margin-left: 9%;
}

#social div {
  display: inline-block;
  margin: 20px;
}
#social img {
  width: 100px;
  height: 100px;
}

#equipe img {
  width: 200px;
  height: 200px;
}

#employé {
  display: flex;
  justify-content: space-around
}

#employé div {
  display: flex;
}



/*************************Footer****************************************/



}




/***************************DESKTOP*******************************************
****************************************************************************/
@media (min-width: 980px) {


/***************Header************************************/
.navbar {
  margin-top: 0 !important;

}

/*****************Page actualité**********************************/
section {
  margin-top: 30% !important;

  }

#actualite {
  margin-left: 80px;
  margin-right: 80px;

}

.card {
  height: 530px !important;
}

/*****************Onglet interactif************************************/
.hidden-md-down {
  margin-top: 40px !important;
  background-color: rgb(255, 131, 170);
}
.ct {
  background-color: white;
  width: 100%;


}

.ct a {
  color:rgb(255, 131, 170);
  padding: 25px;
}

.btn {
  color: white;

}

.btn span {
  margin: 10px;
  text-align: left;
}

/**********************Aside digital jobs*******************************/
aside {
  background-color: white;
  margin-top: 0px;
}

#jobs {

  display: flex;

}

aside h3 {
  display: block;
  background-color: rgb(157, 238, 228);
  color: white;
  padding: 5px;
}

#jobs span {
  display: flex;
  font-size: 15px;

  text-align: center;
}

#jobs div {
margin-right: 100px;
margin-left: 15px;

}

/****************Page Articles***************************************/
#commentaires {
  margin: 30%;
}

#article h2 {
  padding-top: 40px;
}

/********************Page Agenda**************************************/
.evenement img {
  width: 643px;
}

.agenda {
  width: 643px !important;
  margin-left: 320px !important;
  margin-top: 30px;

}

/******************page A propos**************************************/

#nous {
  margin-top: 50px !important;
}

#adress {
  font-size: 30px;
}

/******************footer*************************************************/

#top {
  margin-right: 40px;
}
 #top a {
   margin: 20px;
 }

}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
